*,
*::before,
*::after {
  text-align: center;
  margin: 0px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --text-white: #fff;
  --bg-white: var(--text-white);
  --bg-orange: orange;
}
