.question-card {
  position: relative;
  border: 1px solid #e2e8f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 200px;
  box-shadow: rgb(232, 232, 232) 5px 5px 5px 0px;
  border-radius: 10px;
  background-color: var(--card-bg);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 10px;
  background-color: var(--card-bg);
  padding: 20px;
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow-color) 5px 5px 5px 0px;
  color: var(--text-color);
}
.toast_message {
  background-color: #ffffff;
  color: #333;

  min-width: 280px;
  padding: 14px 18px;

  position: fixed;
  top: 100px;
  right: 0px;

  display: flex;
  align-items: center;
  gap: 12px;

  border-left: 5px solid #399d39;
  border-radius: 8px;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

  transform: translateX(100%);
  z-index: 1000;
}

.toast_message p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.toast_message i {
  font-size: 20px;
  color: #399d39;
}

.show_toast_message {
  animation: toast 2s ease forwards;
}

@keyframes toast {
  0% {
    transform: translateX(100%);
    margin-right: 20px;
  }
  20% {
    transform: translateX(0%);
    margin-right: 20px;
  }
  80% {
    transform: translateX(0%);
    margin-right: 20px;
  }
  100% {
    transform: translateX(100%);
  }
}
